:root {
  --secondary-font-color: #ffffff;
  --link-font-color: #afb1b8;
  --primary-font-color: #212121;
  --secondary-color-interactive-elements: #2195f3;
  --additional-font-color: #757575;
  --primary-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --footer-background-color: #2f303a;
  --mane-background-secondary-color: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.site-body {
  font-family: "roboto", "sans-serif";
  color: var(--primary-font-color);
}

.picture {
  display: block;
  width: 100%;
  height: auto;
}

.card-set, .product-navigation, .contact-inform, .footer-list-grid, .clients__list, .team__list, .specification__list, .work__list, .nav-contacts, .nav__social-list, .nav__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.card-set__link, .contact-inform .contact-inform__link, .clients__link, .nav-contacts__link, .nav__social-link, .nav__link, .logo, .social__link {
  color: currentColor;
  text-decoration: none;
  font-style: normal;
}

.container {
  padding: 0 15px 0 15px;
  margin: 0 auto 0 auto;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.burger {
  display: none;
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: none;
}
.burger:hover, .burger:focus {
  fill: var(--secondary-color-interactive-elements);
}
.burger.btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  height: 40px;
}
.burger.btn-open {
  height: 40px;
}

@media screen and (max-width: 767px) {
  .burger.btn-close,
.burger.btn-open {
    display: block;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  color: var(--additional-font-color);
  width: 450px;
  height: 609px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border-radius: 4px;
  background-color: var(--primary-background-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 12px 0;
  color: var(--primary-font-color);
}
.modal__thumb {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  margin: 0 0 10px 0;
}
.modal__thumb:nth-child(5) {
  margin: 0 0 20px 0;
}
.modal__field {
  height: 40px;
  padding: 10px 0 10px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__field:focus, .modal__field:hover {
  border: none;
  outline: 1px solid var(--secondary-color-interactive-elements);
}
.modal__label {
  padding: 0 0 4px 0;
}
.modal__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__field:focus + .modal__label > .modal__icon, .modal__field:hover + .modal__label > .modal__icon {
  fill: var(--secondary-color-interactive-elements);
}
.modal__textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding: 12px 16px 12px 16px;
  resize: none;
  color: rgba(117, 117, 117, 0.5);
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea:focus, .modal__textarea:hover {
  border: 1px solid var(--secondary-color-interactive-elements);
}
.modal__row {
  max-width: 200px;
  margin: 0 auto 0 auto;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: var(--primary-background-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:focus, .modal__btn:hover {
  fill: var(--secondary-color-interactive-elements);
}
.modal__btn .btn__icon {
  display: inline-block;
  width: 11px;
  height: 11px;
}

.signing-agreement {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
}
.signing-agreement__field {
  margin: 0 8px 0 0;
}
.signing-agreement__label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1200px) {
  .signing-agreement__label {
    font-size: 14px;
  }
}
.signing-agreement__icon {
  top: 5px;
  left: 0;
  margin: 0 10px 0 0;
  border: 2px solid var(--primary-font-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.signing-agreement__field:checked + .signing-agreement__label > .signing-agreement__icon {
  background-color: var(--secondary-color-interactive-elements);
  border-color: var(--secondary-color-interactive-elements);
}
.signing-agreement__link {
  margin: 0 0 0 5px;
  color: var(--secondary-color-interactive-elements);
}

.btn-submit {
  padding: 10px 55px 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--secondary-font-color);
  background-color: var(--secondary-color-interactive-elements);
  border: var(--secondary-color-interactive-elements);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.btn-submit:focus, .btn-submit:hover {
  background-color: #188ce8;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 24px 0;
}
.social__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 0;
  width: 44px;
  height: 44px;
}
.social__box:last-child {
  margin: 0;
}
.social__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--link-font-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  fill: var(--secondary-font-color);
  background-color: var(--secondary-color-interactive-elements);
}
.social__icon {
  display: block;
}
.social__icon--color-hover {
  fill: var(--secondary-font-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.logo {
  padding: 0 10px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 0;
}
.logo__text {
  color: var(--secondary-color-interactive-elements);
}
@media screen and (max-width: 768px) {
  .logo {
    padding: 16px 0;
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding: 0;
  }
}

.logo--color-white {
  color: var(--secondary-font-color);
}

.page-header {
  position: relative;
  background-color: var(--primary-background-color);
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .page-header__container {
    height: 60px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.nav__components {
  position: relative;
  background-color: var(--primary-background-color);
}
.nav__components.is-open {
  display: block;
}
@media screen and (max-width: 767px) {
  .nav__components {
    z-index: 2;
    padding: 48px 40px 48px 40px;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
  }
}
@media screen and (min-width: 768px) {
  .nav__components {
    width: 100%;
  }
}
.nav .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .nav .box {
    flex-direction: column;
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  .nav .box-item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .nav__item {
    margin-right: 50px;
  }
  .nav__item:last-child {
    margin-right: 0;
  }
}
.nav__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  padding: 0 0 10px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--secondary-color-interactive-elements);
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding: 32px 0 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link--current {
    position: relative;
    color: var(--secondary-color-interactive-elements);
  }
  .nav__link--current::after {
    display: block;
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--secondary-color-interactive-elements);
  }
}
.nav__social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__social-list {
    display: none;
  }
}
.nav__social-item {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.nav__social-item:last-child {
  border-right: none;
  margin: 0;
  padding: 0;
}
.nav__social-link {
  display: block;
  color: var(--secondary-color-interactive-elements);
}
@media screen and (min-width: 768px) {
  .nav__social-link {
    display: none;
  }
}

.nav-contacts__item {
  padding: 0 0 32px 0;
  color: var(--additional-font-color);
}
.nav-contacts__item:last-child {
  padding-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .nav-contacts__item {
    padding: 0 0 10px 0;
    color: var(--additional-font-color);
  }
  .nav-contacts__item:last-child {
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-contacts__item {
    display: flex;
    align-items: center;
    margin-right: 30px;
    padding: 0;
  }
  .nav-contacts__item:last-child {
    margin-right: 0;
  }
}
.nav-contacts__link {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-contacts__link:hover, .nav-contacts__link:focus {
  color: var(--secondary-color-interactive-elements);
}
@media screen and (max-width: 767px) {
  .nav-contacts__link:hover, .nav-contacts__link:focus {
    font-size: 34px;
  }
}
@media screen and (max-width: 767px) {
  .nav-contacts__link {
    transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .nav-contacts__link {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .nav-contacts__link {
    font-size: 14px;
  }
}
.nav-contacts__icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-contacts__icon {
    display: block;
    fill: currentColor;
    margin: 0 10px 0 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-contacts {
    display: inline-block;
    margin-left: auto;
    padding: 21px 0 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .nav-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hero {
  margin: 0 auto;
  padding: 118px 0 118px 0;
  min-height: auto;
  max-width: 1600px;
  text-align: center;
  background-position: center;
  color: var(--secondary-font-color);
  background-color: var(--hero-background-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
.hero__title {
  margin: 0 auto 30px auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__button {
  display: inline-block;
  min-height: 50px;
  padding: 10px 32px 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  border: var(--secondary-color-interactive-elements);
  border-radius: 4px;
  color: var(--secondary-font-color);
  background-color: var(--secondary-color-interactive-elements);
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-Img.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-desk2x.jpg);
  }
}

.work {
  padding: 60px 0 60px 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .work__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.work__item {
  width: auto;
  margin: 0 0 30px 0;
}
.work__item:last-child {
  margin: 0;
}
@media screen and (max-width: 767px) {
  .work__item {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .work__item:last-child {
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .work__item {
    margin: 0 30px 0 0;
  }
  .work__item:last-child {
    margin: 0;
  }
}
.work__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
  min-width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--mane-background-secondary-color);
}
.work__title {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}
.work__subtitle {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--additional-font-color);
}

.specification {
  padding: 0 0 94px 0;
}
@media screen and (max-width: 1200px) {
  .specification {
    display: none;
  }
}
.specification__title {
  margin: 0 0 50px 0;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.specification__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.specification__item {
  position: relative;
}
.specification__holder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.specification__desc {
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-font-color);
}

.team {
  background-color: var(--mane-background-secondary-color);
  padding: 60px 0 60px 0;
}
.team__title {
  margin: 0 0 30px 0;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.team__item {
  margin: 0 auto 30px auto;
  width: auto;
}
.team__item:last-child {
  margin: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .team__item:last-child {
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 0;
  }
  .team__item:last-child {
    margin: 0;
  }
}

.employee-card {
  min-width: 270px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.employee-card__title {
  margin: 0 0 10px 0;
  padding: 30px 0 0 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.employee-card__desc {
  margin: 0;
  padding: 0 0 16px 0;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--additional-font-color);
}

.clients {
  padding: 60px 0 60px 0;
}
.clients__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 50px 0;
}
.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -15px;
}
.clients__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 60px) / 2);
  margin: 15px;
  height: 92px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__logo {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__logo {
    width: 170px;
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--link-font-color);
  border-radius: 4px;
  fill: var(--link-font-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--secondary-color-interactive-elements);
  border-color: var(--secondary-color-interactive-elements);
}

.page-footer {
  padding: 60px 0 60px 0;
  background-color: var(--footer-background-color);
}
.page-footer__logo {
  display: inline-block;
  margin: 0 0 20px 0;
}

.footer-list-grid {
  text-align: center;
}
.footer-list-grid__item {
  padding-bottom: 60px;
}
.footer-list-grid__item:last-child {
  padding: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-list-grid__item {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-list-grid__item {
    display: flex;
    align-items: baseline;
    padding: 0;
    width: 100%;
  }
}
.footer-list-grid__box {
  margin-bottom: 60px;
  padding: 8px;
}
.footer-list-grid__box:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-list-grid__box {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-list-grid__box {
    margin: 0 70px 0 0;
    padding: 0;
  }
  .footer-list-grid__box:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-list-grid {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: left;
  }
}

.contact-inform .contact-inform__item {
  margin: 0 0 9px 0;
}
.contact-inform .contact-inform__item:last-child {
  margin: 0;
}
.contact-inform .contact-inform__link {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-inform .contact-inform__link:hover, .contact-inform .contact-inform__link:focus {
  color: var(--secondary-color-interactive-elements);
}

.social-cell {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px 0;
  color: var(--secondary-font-color);
}

.subscribe-news {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px 0;
  color: var(--secondary-font-color);
}
@media screen and (min-width: 1200px) {
  .subscribe-news {
    text-align: left;
  }
}

.form__thumb {
  position: relative;
  width: 100%;
  margin: 0 0 20px 0;
}
@media screen and (min-width: 1200px) {
  .form__thumb {
    margin: 0;
  }
}
.form__field {
  width: 100%;
  padding: 15px 16px 15px 16px;
  color: var(--secondary-font-color);
  background-color: var(--footer-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form__field {
    width: 450px;
  }
}
.form__btn {
  position: relative;
  font-weight: 700;
  line-height: 1.88;
  padding: 10px 62px 10px 29px;
  cursor: pointer;
  color: var(--secondary-font-color);
  background-color: var(--secondary-color-interactive-elements);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: var(--secondary-color-interactive-elements);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .form__btn {
    margin-left: 10px;
  }
}
.form__icon {
  position: absolute;
  margin-left: 10px;
  top: 13px;
  right: 28px;
}
@media screen and (min-width: 1200px) {
  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 570px;
  }
}

.product-grid {
  padding: 60px 0 60px 0;
}
@media screen and (min-width: 1200px) {
  .product-grid {
    padding: 94px 0 94px 0;
  }
}

.product-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 50px 0;
}
.product-navigation__item {
  margin: 0 8px 15px 0;
}
@media screen and (max-width: 767px) {
  .product-navigation__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
.product-navigation__btn {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  border: var(--mane-background-secondary-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-navigation__btn:hover, .product-navigation__btn:focus {
  color: var(--secondary-font-color);
  background-color: var(--secondary-color-interactive-elements);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
  .product-navigation {
    justify-content: center;
  }
}

.card-set__item {
  width: 100%;
  margin: 0 0 30px 0;
}
@media screen and (max-width: 767px) {
  .card-set__item:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-set__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item {
    width: calc((100% - 60px) / 3);
    margin: 0 30px 30px 0;
  }
  .card-set__item:nth-child(3n) {
    margin-right: 0;
  }
}
.card-set__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__link:hover, .card-set__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-set__overlay {
  position: relative;
  overflow: hidden;
}
.card-set__meta {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(101%);
  width: 100%;
  height: 100%;
  padding: 63px 24px 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__link:hover .card-set__meta {
  transform: translateY(0);
}
.card-set__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}
.card-set__benefits {
  min-height: 146px;
  padding: 20px 24px 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.card-set__title {
  color: var(--primary-font-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0 0 4px 0;
}
.card-set__desc {
  color: var(--additional-font-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=main.css.map */