.burger {
    display: none;
    margin: 0;
    padding: 0;
    background-color: inherit;
    border: none;

    &:hover,
    &:focus {
        fill: var(--secondary-color-interactive-elements);
    }
    &.btn-close {
        position: absolute;
        top: 10px;
        right: 15px;
        height: 40px;
    }
    &.btn-open {
        height: 40px;
    }
    // @media screen and (min-width: 768) {
    //     display: none;
    // }
}

.burger.btn-close,
.burger.btn-open {
    @media screen and (max-width: 767px) {
        display: block;
    }
} 