.hero {
  margin: 0 auto;
  padding: 200px 0 200px 0;
  max-width: 1600px;
  text-align: center;
  background-position: center;

  color: var(--secondary-font-color);
  background-color: var(--hero-background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header-Img.jpg);

  &__title {
    margin: 0 auto 30px auto;
    max-width: 696px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    
    text-transform: uppercase;
  }

  &__button {
    display: inline-block;
    min-height: 50px;
    padding: 10px 32px 10px 32px;
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    text-align: center;
    cursor: pointer;

    border: var(--secondary-color-interactive-elements);
    border-radius: 4px;
    color: var(--secondary-font-color);
    background-color: var(--secondary-color-interactive-elements);
  }
}
