:root {
    --secondary-font-color: #ffffff;
    --link-font-color: #afb1b8;
    --primary-font-color: #212121;
    --secondary-color-interactive-elements: #2195f3;
    --additional-font-color: #757575;
    --primary-background-color: #ffffff;
    --hero-background-color: #2f303a;
    --footer-background-color: #2f303a;
    --mane-background-secondary-color: #f5f4fa;
  }